@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
.hurricane {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Sheared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  color: whitesmoke;
}
body{
  background-color: black;
}
.btn-primary {
  display: flex;
  width: 224px;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  background: #e6533c;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}
.btn-secondary {
  display: flex;
  width: 224px;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  background-color: black;
}
/* Header */
header {
  /* width: 1080px; */
  max-width: 1200px;
  margin: 0 auto;
}
.nav-bar {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .hamburg {
  display: none;
}
.nav-bar .home-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6533c;
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 43.2px */
}
.nav-bar .home-icon img {
  height: 45px;
}
.nav-bar .navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 47px;
}
.nav-bar .navigation a {
  text-decoration: none;
  background-color: #e6533c;
  border-radius: 46px;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Banner */
.banner {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-title {
  align-self: stretch;

  color: #fff;
  font-family: Inter;
  font-size: 78px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 93.6px */
}
.banner-content p {
  color: rgba(255, 255, 255, 0.5);

  /* body-text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.banner-content .btns {
  display: flex;
  gap: 14px;
}
.banner-img .badge-1, .badge-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 193px;
  height: 98px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #727272;
  backdrop-filter: blur(10px);
  text-align: start;
}
.badge-1 p{
  background-color: #72727200;
  backdrop-filter: blur(10px);
}
.badge-2 p{
  background-color: #727272;
  backdrop-filter: blur(10px);
}
.badge-1 >h2{
  background-color: #727272;
  backdrop-filter: blur(10px);
}
.badge-2 >h2{
  background-color: #727272;
  backdrop-filter: blur(10px);
}
.icon-i{
  border-radius: 100%;

  background-color: #e6533c;
}
.banner-img{
  display: flex;

}

.badge-1{
  position: relative;
  top: 400px;
  left: 120px;
}
.badge-2{
  position: relative;
  top: 120px;
  right: 120px;
}